.create_card {
    margin-bottom: 20px;
}

.create_card .button {
    cursor: pointer;
    height: 40px;
    border-radius: 25px;
    background: darkseagreen;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_card .button:hover {
    background: tomato;
}

.create_card .button:active {
    background: lightslategray;
}
