.board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.col-card {
    border: 1px solid white;
    border-radius: 15px;
    margin-right: 15px;
    min-height: 70vh;
    background: lightgrey;

}

.col1 {
    border: 1px solid white;
    min-height: 200px;
}

.task {
    border: solid 1px black;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 80px;
    overflow: hidden;
    cursor: grab;
    border-radius: 15px;
}

.task .task-in {
    margin: 8px;
    position: relative;
}

.task-in .edit-icon {
    position: absolute;
    right: 45px;
    color: black;
    cursor: pointer;
}

.task-in .edit-icon:hover {
    color: dimgrey;
}

.task-in .edit-icon:active {
    color: gainsboro;
}

.task-in .delete-icon {
    display: inline;
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.task-in .delete-icon:hover {
    color: red;
}

.task-in .delete-icon:active {
    color: rosybrown;
}

.title {
    display: flex;
    justify-content: center;
}

.button {
    margin-bottom: 15px;
    height: 45px;
    width: 120px;
    border-radius: 15px;
    background: aliceblue;
}

.high {
    background: rgba(255,21,5,0.50);
}

.medium {
    background: rgba(255,196,25,0.61);
}

.low {
    background: rgba(177,255,0,0.40);
}

.edit-box {
    height: 400px;
    width: 500px;
    background: whitesmoke;
    border: 1px solid grey;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    margin: auto;
}

.edit-none {
    display: none;
}

.board-container {
    padding-top: 60px;
    min-height: 100vh;
}